<section class="nft">
  <div class="container nft__flex">
    <h2 class="title prise__title">400 NFTs</h2>
    <ol class="list list-reset nft__list">
      <li class="item nft__item">1 Acre of land +4000 sq feet metaverse house</li>
      <li class="item nft__item">Walk around your house and land on the metaverse</li>
      <li class="item nft__item">Invite friends to your house and sell your house on opensea</li>
    </ol>
    <button class="btn-reset btn">Connect Wallet</button>
  </div>
</section>
