<section class="game">
  <div class="container">
    <h2 class="title game__title">Mansion Battles Game</h2>
    <div class="game__flex">
      <h3 class="title game__title game__title--second">*Coming Soon*</h3>
      <img class="img game__img" src="img/pictures/game.jpg" alt="" width="273" height="361">
      <ol class="list-reset list game__list">
        <li class="item game__item">10 Acre of digoital land </li>
        <li class="item game__item">Walk around your land on the metaverse</li>
        <li class="item game__item">Build Mansion on your land</li>
      </ol>
    </div>
  </div>
</section>
