<section class="price price--reverse">
  <div class="container price__flex price__flex--reverse">
    <h2 class="title price__title price__title--reverse">1 cr of land mint price 3000 NFT’s</h2>
    <ol class="list list-reset price__list price__list--reverse">
      <li class="item price__item">10 Acre of digoital land </li>
      <li class="item price__item">Walk around your land on the metaverse</li>
      <li class="item price__item">Build Mansion on your land</li>
    </ol>
    <img class="img price__img price__img--reverse" src="img/pictures/price-img-2.jpg" alt="" width="273" height="361">
    <button class="btn-reset btn price__btn price__btn--reverse">Connect Wallet</button>
  </div>
</section>
