<section class="price">
  <div class="container price__flex">
    <h2 class="title price__title">1 cr of land mint price 3000 NFT’s</h2>
    <ol class="list list-reset price__list">
      <li class="item price__item">1 Acre of digital land that you will own</li>
      <li class="item price__item">Walk around your land in the metaverse</li>
      <li class="item price__item">Invite friends and resell your land on opensea</li>
    </ol>
    <img class="img price__img" src="img/pictures/price-block-bg-1.jpg" alt="" width="273" height="361">
    <button class="btn-reset btn price__btn">Connect Wallet</button>
  </div>
</section>
