<section class="road">
  <div class="container">
    <h2 class="title title__road">Road Map</h2>
    <ul class="list-reset list road__list">
      <li class="item-box">
        <ol class="list-reset road__list-secondery">
          <li class="item road__item">Buil custom manage for mansion holders</li>
          <li class="item road__item">Launch our own cry pto token for staking</li>
        </ol>
      </li>
      <li class="item-box">
        <ol class="list-reset road__list-secondery">
          <li class="item road__item">Buil custom manage for mansion holders</li>
          <li class="item road__item">Launch our own cry pto token for staking</li>
        </ol>
      </li>
      <li class="item-box">
        <ol class="list-reset road__list-secondery">
          <li class="item road__item">Buil custom manage for mansion holders</li>
          <li class="item road__item">Launch our own cry pto token for staking</li>
        </ol>
      </li>
      <li class="item-box">
        <ol class="list-reset road__list-secondery">
          <li class="item road__item">Buil custom manage for mansion holders</li>
          <li class="item road__item">Launch our own cry pto token for staking</li>
        </ol>
      </li>
    </ul>
  </div>
</section>
