<section class="square">
  <div class="container square__flex">
    <h2 class="title square__title">1 acre + 4000 Square ft land metaverse house</h2>
    <ol class="list list-reset square__list">
      <li class="item square__item">10 Acre of digoital land</li>
      <li class="item square__item">Walk around your land on the metaverse</li>
      <li class="item square__item">Build Mansion on your land</li>
    </ol>
    <img class="img square__img" src="img/pictures/square-img.jpg" alt="" width="273" height="361">
    <button class="btn-reset btn square__btn">Connect Wallet</button>
  </div>
</section>
